.bg {
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    font-family: 'Poppins';
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.2);
}